extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content
	| 123ds

block append