
$fieldHeight: $formHeight;
$borderRadius: $formBorderRadius;
$inputPadding: 0 20px;


.btn{
	line-height: $fieldHeight;
	height: $fieldHeight;
	@include border-radius($borderRadius);
	display: inline-block;
	padding: $inputPadding;
	cursor: pointer;
	text-align: center;


	&_blue{
		color: #fff;
		background: $colorBlue;

		&:hover{
			background: $colorBlueHover;
		}
	}
}

.placeholder{
	position: absolute;
	color: $colorBlack;
	top: 0;
	right: 100%;
	left: 0;
	text-align: right;
	line-height: $fieldHeight;
	cursor: default;
	pointer-events: none;

	white-space: nowrap;
	@include box-sizing();
	@include transition(all 0.3s ease);
	padding: $inputPadding;

	.f-error &{
		color: $colorRed;
	}

	input:focus ~ &,
	textarea:focus ~ &,
	.f-filled &{
		right: 0;
		font-size: 12px;
	}
}



.form{
	font-size: 0;

	&__field{
		position: relative;
		margin-bottom: 36px;
		font-size: $fontSize;

		&:last-child{
			margin-bottom: 0;
		}

		&.f-error{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $colorRed!important;
				}
			}
		}

	}

	&__message{
		display: none;
		top: 8px;
		position: relative;
		//padding: $inputPadding;

		.f-message &{
			display: block;
		}

		.f-error &{
			color: $colorRed;
		}
	}

	&__label{
		position: relative;
	}

	&__input{
		position: relative;

		textarea, input{

		}


		input{

			&[type="email"],
			&[type="password"],
			&[type="tel"],
			&[type="text"]{
				@include box-sizing();
				width: 100%;
				display: block;
				color: $colorBlack;
				line-height: ($fieldHeight - 2px);
				height: $fieldHeight;
				border: 1px solid $colorBorder;
				@include border-radius($borderRadius);
				background: #fff;
				@include transition('border 0.3s ease');
				padding: $inputPadding;

				&:focus{
					border-color: $colorBlue;
					color: $colorBlue;
				}

				.f-error &{
					border-color: $colorRed;
				}

				&:hover{
					border-color: $colorBlue;
				}
			}


			&[type="submit"]{
				@include box-sizing();
				background: $colorBlue;
				color: #fff;
				cursor: pointer;
				width: 100%;
				display: block;

				&:not(.btn){
					line-height: $fieldHeight;
					@include border-radius($borderRadius);
				}

				&:hover{
					background-color: $colorBlueHover;
				}
			}

			&[type="checkbox"]{
				opacity: 0;
				position: absolute;

				&:checked{
					& ~ {
						.form__label{

							&:before{
								background-color: green;
							}
						}
					}
				}

				& ~ {
					.form__label{
						padding: 7px 0 7px 42px;

						&:before{
							content: '';
							width: 28px;
							height: 28px;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							@include border-radius($borderRadius);
							background: #fff;
							border: 1px solid $colorBorder;

							.f-error &{
								border-color: $colorRed;
							}
						}
					}
				}
			}

			&[type="radio"]{
				opacity: 0;
				position: absolute;

				&:checked{
					& ~ {
						.form__label{

							&:before{
								background-color: green;
							}
						}
					}
				}

				& ~ {
					.form__label{
						padding: 7px 0 7px 42px;

						&:before{
							content: '';
							width: 28px;
							height: 28px;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							@include border-radius(100px);
							background: #fff;
							border: 1px solid $colorBorder;

							.f-error &{
								border-color: $colorRed;
							}
						}
					}
				}
			}
		}

	}
}


