$footerHeight: 100px;

html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-size: 16px;
	width: 100%;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


.header {

}


.website {
	padding-bottom: $footerHeight;
}


.footer {



	position: relative;
	margin-top: (- $footerHeight);
	height: $footerHeight;
}
