$fontMain: 'Arial', sans-serif;
$fontSize: 16px;
$breakPoint: 1700px;


$formHeight: 42px;
$formBorderRadius: 4px;



$colorBlue: #004786;
$colorBlueHover: #003869;
$colorBlack: #212121;
$colorGrey: #8a8a8a;
$colorRed: #cf2b00;
$colorBorder: #dbdbdb;


$sprite: '';
